<h1><%= @comedian.name %></h1>
<% if @comedian.count_of_specials > 2 && @comedian.longest_special > 20 %>
  <p>Average runtime of all this comedian's specials: <%= @comedian.average_special_runtime %> Minutes</p>
<% end %>
